
	@import "compass/css3";

		body{
			font-family: sans-serif;
			position:relative;
		}

		.dailyHeader{
			margin: auto;
			margin-top: 2em;
			margin-bottom: 7em;
		    width: 70%;
		    padding: 10px;
		    padding-top: 13%;
		    height: 40%;
		    text-align: right;
		    font-style: italic;
		    position: relative;
		    /*border: 1px solid red ;*/
		}
		.dailyWriting{
			text-align: center;
			font-weight: bold;
			font-size: 6vw;
			font-style: normal;
			position: relative;
		}
		.header{
			font-family: serif;
			font-style: italic;
			font-weight: bold;	
		}
		#title{
			font-size: 1.5em;
			text-align: center;
			position:fixed;
			top:10px;
			margin-left: auto;
			margin-right: auto;
			left:0;
			right:0;
			z-index: 1;
			opacity: 1;
		}
		#menu{
			text-align: center;
			position:fixed;
			top:20px;
			margin-left: auto;
			margin-right: auto;
			left:0;
			right:0;
			z-index: 0;
			opacity:0;
		}
		#writing2{
			font-size: 4vw;
		}
		#writing3{
			font-size: 3.5vw;
		}
		#writing4{
			font-size: 3vw;
		}
		#writing5{
			font-size: 1.7vw;
		}
		#writing7{
			font-size: 2.3vw;
		}
		.spacer{
			height: 85%;
		}
		#upsidedown
		{
			-webkit-transform:rotate(-180deg);
			-moz-transform:rotate(-180deg);
			-o-transform:rotate(-180deg); 
			transform: rotate(-180deg);
		}
		#verticalstretch
		{
			-webkit-transform:scale(1,5);
			-moz-transform:scale(1,5);
			-o-transform:scale(1,5); 
			transform: scale(1,5);
		}
		#writing6{
			font-size: 4vw;
			font-weight: normal;
			text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black, -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white, -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black; color:white
		}

		.black-to-white {
		  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, black), color-stop(0.2, #2f2f2e), color-stop(0.6, grey), color-stop(0.9, lightgrey), color-stop(1, #ededed));
		 
		  color:transparent;
		  -webkit-background-clip: text;
		  background-clip: text;
		}

		.white-to-black {
		  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, lightgrey), color-stop(0.4, grey), color-stop(0.9, #2f2f2e), color-stop(1, black));
		 
		  color:transparent;
		  -webkit-background-clip: text;
		  background-clip: text;
		}

		.sparkle {
		/*	color: red;
		`padding: 50px;
		 background:  url(https://media.giphy.com/media/YfzRO02hXWvOE/giphy.gif) repeat;*/
		 padding: 50px;
		 color: red;  /* Fallback: assume this color ON TOP of image */
   		/*background: url(https://img1.picmix.com/output/stamp/normal/6/0/9/4/254906_3c3d0.gif) repeat;*/
   		background: url(https://media1.tenor.com/images/d2136938f87e26cb5716efd59ab1012e/tenor.gif?itemid=9724941) repeat;
   	/*	background: url(https://media1.tenor.com/images/4d3fe2d826b0a401c5a86ccaed54dd2b/tenor.gif?itemid=4717901) repeat;*/
   		-webkit-background-clip: text;
   		-webkit-text-fill-color: transparent;
		 
		}

		/*  colorFLIP CSS  below */
		#flip {
		color: white;
		padding: 100px;
		background-color: #1b5fbd;
		background: linear-gradient(to top, white, transparent 30%),
		linear-gradient(to bottom, white, transparent 30%);
    	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    	animation-name: example;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
		}

		/* Safari 4.0 - 8.0 */
		@-webkit-keyframes example {
		    0%   {background-color: #1b5fbd;}
		    25%  {background-color: #1f69a1;}
		    50%  {background-color: #1865d0;}
		    75%  {background-color: #1f69a1;}
		    100% {background-color: #1b5fbd;}
		}

		/* Standard syntax */
		@keyframes example {
		    0%   {background-color: #1b5fbd;}
		    25%  {background-color: #1f69a1;}
		    50%  {background-color: #1865d0;}
		    75%  {background-color: #1f69a1;}
		    100% {background-color: #1b5fbd;}
		}
		
	/* for colorflip css above */



/*// google font subsetting, see Heydon Pickering's: http://www.sitepoint.com/joy-of-subsets-web-fonts/*/
		@import url('//fonts.googleapis.com/css?family=Pacifico&text=Good');
		@import url('//fonts.googleapis.com/css?family=Roboto:700&text=Time');
		@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=&#8482');
		@import url('//fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');

	
/* blur begin */	
.blur {
   color: transparent;
   font-size: 1.1em;
   text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

/* blur end */

/*  color scroll and bounce begin */
blockquote{
    overflow: hidden;
    font-family: 'Shrikhand', sans-serif;
    /*font-size: 10vw;
    width: 100vw;*/
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(
        60deg,
        hsl(0, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 85%,
        hsl(0, 75%, 50%) 85%
    );

    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 10s BeProud linear infinite,
    1s Always ease alternate infinite;
}

@keyframes BeProud {
    100% { background-position: 100vw 0px; }
}

@keyframes Always {
    100% { transform: scale(1.1);}
}

/*  color scroll and bounce end */

/* stamp begin */
.stamp {
  transform: rotate(-12deg);
	font-size: 1.2em;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply; 
}

.plaque{
	
	font-weight: 700;
	display: inline-block;
	font-family: 'Courier';
	text-transform: uppercase;

}

.is-nope {
  color: black;
  border: 0.5rem double black;
  transform: rotate(0deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem;  
}

.is-approved {
	color: red;
	border: 0.5rem solid red;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-3deg);
  border-radius: 0;
} 
 /* stamp end */

 /*screen begin*/

 .screen {
 background-color:#000;
  margin:0;
  overflow:hidden;
  
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing:border-box;
  font-family:'Fira Mono', monospace;
  font-size:20px;
  height:100px;
  overflow:hidden;
  padding:10px;
  padding-top:5%;
  width:100%;
  overflow:hidden;

}

.screen:before {
  animation:wave 5s infinite ease-in-out;
  content:"";
  height:100px;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  40%,  60% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
0% {
  border-top: 4px solid #0a9405;
  /*border-image: linear-gradient(to left, green , red);
  border-image-slice: 1;*/
  top:00px;
}

100% {
 border-top: 4px solid #045102;
  top:94px;
}
}


@keyframes blink {
  50% {
    opacity:0;
  }
  75% {
    opacity:0;
  }
}

/*screen end */

#humancontainer
{
background-image: url(https://media.giphy.com/media/Eo9245y8LcSU8/giphy.gif);
background-repeat: no-repeat;
height: 200px;
width: 300px;
margin: 0 auto;
color:red;
background-position: center;
padding-top:90px;
padding-bottom:1px;
padding-left:40px;
padding-right:40px;
font-size: 25px;
background-color: red;
}
